@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@utility text-small {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1;
}
@utility text-medium {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1;
}

:root {
  /* Typography Tokens */
  --font-family-primary: var(--font-inter), sans-serif;
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  /* Spacing Tokens */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 0.75rem; /* 12px */
  --spacing-lg: 1rem; /* 16px */
  --spacing-xl: 1.5rem; /* 24px */
  --spacing-2xl: 2rem; /* 32px */
  --spacing-3xl: 3rem; /* 48px */

  /* Border Radius Tokens */
  --radius-sm: 0.5rem; /* 8px */
  --radius-md: 0.75rem; /* 12px */
  --radius-lg: 1rem; /* 16px */

  /* Layout Tokens */
  --header-height: 4rem;
  --sidebar-width: 15.4375rem; /* 247px */
  --section-width: 25.625rem; /* 410px */

  /* Custom Spring Easings */
  --spring-elegant-easing: linear(
    0 0%,
    0.005927 1%,
    0.022466 2%,
    0.047872 3%,
    0.080554 4%,
    0.119068 5%,
    0.162116 6%,
    0.208536 7.000000000000001%,
    0.2573 8%,
    0.3075 9%,
    0.358346 10%,
    0.409157 11%,
    0.45935 12%,
    0.508438 13%,
    0.556014 14.000000000000002%,
    0.601751 15%,
    0.645389 16%,
    0.686733 17%,
    0.72564 18%,
    0.762019 19%,
    0.795818 20%,
    0.827026 21%,
    0.855662 22%,
    0.881772 23%,
    0.905423 24%,
    0.926704 25%,
    0.945714 26%,
    0.962568 27%,
    0.977386 28%,
    0.990295 28.999999999999996%,
    1.001426 30%,
    1.010911 31%,
    1.018881 32%,
    1.025465 33%,
    1.030792 34%,
    1.034982 35%,
    1.038155 36%,
    1.040423 37%,
    1.041892 38%,
    1.042662 39%,
    1.042827 40%,
    1.042473 41%,
    1.04168 42%,
    1.040522 43%,
    1.039065 44%,
    1.037371 45%,
    1.035493 46%,
    1.03348 47%,
    1.031376 48%,
    1.029217 49%,
    1.027037 50%,
    1.024864 51%,
    1.022722 52%,
    1.020631 53%,
    1.018608 54%,
    1.016667 55.00000000000001%,
    1.014817 56.00000000000001%,
    1.013067 56.99999999999999%,
    1.011422 57.99999999999999%,
    1.009887 59%,
    1.008462 60%,
    1.007148 61%,
    1.005944 62%,
    1.004847 63%,
    1.003855 64%,
    1.002964 65%,
    1.002169 66%,
    1.001466 67%,
    1.000848 68%,
    1.000311 69%,
    0.999849 70%,
    0.999457 71%,
    0.999128 72%,
    0.998858 73%,
    0.99864 74%,
    0.99847 75%,
    0.998342 76%,
    0.998253 77%,
    0.998196 78%,
    0.998169 79%,
    0.998167 80%,
    0.998186 81%,
    0.998224 82%,
    0.998276 83%,
    0.998341 84%,
    0.998415 85%,
    0.998497 86%,
    0.998584 87%,
    0.998675 88%,
    0.998768 89%,
    0.998861 90%,
    0.998954 91%,
    0.999045 92%,
    0.999134 93%,
    0.99922 94%,
    0.999303 95%,
    0.999381 96%,
    0.999455 97%,
    0.999525 98%,
    0.999589 99%,
    0.99965 100%
  );
  --spring-elegant-easing-light: linear(
    0 0%,
    0.003894 1%,
    0.014828 2%,
    0.031757 3%,
    0.053732 4%,
    0.079896 5%,
    0.109479 6%,
    0.141786 7.000000000000001%,
    0.176202 8%,
    0.212175 9%,
    0.249219 10%,
    0.286907 11%,
    0.324863 12%,
    0.362763 13%,
    0.400326 14.000000000000002%,
    0.437313 15%,
    0.473521 16%,
    0.508781 17%,
    0.542956 18%,
    0.575932 19%,
    0.607625 20%,
    0.637968 21%,
    0.666915 22%,
    0.694437 23%,
    0.720519 24%,
    0.74516 25%,
    0.76837 26%,
    0.790168 27%,
    0.810581 28.000000000000004%,
    0.829644 28.999999999999996%,
    0.847395 30%,
    0.86388 31%,
    0.879146 32%,
    0.893244 33%,
    0.906226 34%,
    0.918147 35%,
    0.92906 36%,
    0.93902 37%,
    0.948082 38%,
    0.956301 39%,
    0.963727 40%,
    0.970415 41%,
    0.976413 42%,
    0.98177 43%,
    0.986534 44%,
    0.990748 45%,
    0.994457 46%,
    0.997701 47%,
    1.000519 48%,
    1.002948 49%,
    1.005022 50%,
    1.006775 51%,
    1.008237 52%,
    1.009436 53%,
    1.010399 54%,
    1.011152 55.00000000000001%,
    1.011717 56.00000000000001%,
    1.012115 56.99999999999999%,
    1.012368 57.99999999999999%,
    1.012491 59%,
    1.012503 60%,
    1.012418 61%,
    1.01225 62%,
    1.012012 63%,
    1.011716 64%,
    1.011371 65%,
    1.010986 66%,
    1.010571 67%,
    1.010132 68%,
    1.009676 69%,
    1.009209 70%,
    1.008735 71%,
    1.00826 72%,
    1.007787 73%,
    1.00732 74%,
    1.006861 75%,
    1.006412 76%,
    1.005976 77%,
    1.005554 78%,
    1.005148 79%,
    1.004758 80%,
    1.004385 81%,
    1.00403 82%,
    1.003693 83%,
    1.003373 84%,
    1.003072 85%,
    1.002789 86%,
    1.002523 87%,
    1.002274 88%,
    1.002042 89%,
    1.001826 90%,
    1.001626 91%,
    1.001441 92%,
    1.00127 93%,
    1.001113 94%,
    1.000969 95%,
    1.000837 96%,
    1.000717 97%,
    1.000608 98%,
    1.000509 99%,
    1.00042 100%
  );
  --spring-bouyant: linear(
    0 0%,
    0.004379 1%,
    0.017027 2%,
    0.037197 3%,
    0.064139 4%,
    0.097098 5%,
    0.135326 6%,
    0.178089 7.000000000000001%,
    0.224667 8%,
    0.274366 9%,
    0.326515 10%,
    0.380476 11%,
    0.435642 12%,
    0.491445 13%,
    0.547353 14.000000000000002%,
    0.602874 15%,
    0.65756 16%,
    0.711 17%,
    0.76283 18%,
    0.812725 19%,
    0.860402 20%,
    0.90562 21%,
    0.948177 22%,
    0.98791 23%,
    1.024693 24%,
    1.058435 25%,
    1.089077 26%,
    1.116593 27%,
    1.140987 28.000000000000004%,
    1.162286 28.999999999999996%,
    1.180545 30%,
    1.19584 31%,
    1.208266 32%,
    1.217937 33%,
    1.22498 34%,
    1.229538 35%,
    1.231761 36%,
    1.231811 37%,
    1.229853 38%,
    1.226059 39%,
    1.220603 40%,
    1.213659 41%,
    1.205403 42%,
    1.196006 43%,
    1.185638 44%,
    1.174463 45%,
    1.162638 46%,
    1.150318 47%,
    1.137645 48%,
    1.124757 49%,
    1.111781 50%,
    1.098837 51%,
    1.086034 52%,
    1.073472 53%,
    1.061241 54%,
    1.04942 55.00000000000001%,
    1.038082 56.00000000000001%,
    1.027286 56.99999999999999%,
    1.017084 57.99999999999999%,
    1.007519 59%,
    0.998624 60%,
    0.990425 61%,
    0.982939 62%,
    0.976176 63%,
    0.970139 64%,
    0.964824 65%,
    0.960222 66%,
    0.956318 67%,
    0.953091 68%,
    0.950518 69%,
    0.94857 70%,
    0.947216 71%,
    0.946423 72%,
    0.946154 73%,
    0.946371 74%,
    0.947035 75%,
    0.948105 76%,
    0.949542 77%,
    0.951304 78%,
    0.953352 79%,
    0.955646 80%,
    0.958146 81%,
    0.960816 82%,
    0.963619 83%,
    0.966522 84%,
    0.96949 85%,
    0.972494 86%,
    0.975505 87%,
    0.978496 88%,
    0.981443 89%,
    0.984323 90%,
    0.987118 91%,
    0.989809 92%,
    0.992382 93%,
    0.994822 94%,
    0.99712 95%,
    0.999265 96%,
    1.001252 97%,
    1.003076 98%,
    1.004733 99%,
    1.006221 100%
  );

  --radius: 0.625rem;
  --background: #f2f2f2;
  --foreground: oklch(0.145 0 0);
  --border: #ececec;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #fff;
  --primary-foreground: #000;
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: #111111;
  --foreground: oklch(0.985 0 0);
  --border: #2d2d2d;
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #000;
  --primary-foreground: #fff;
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 5%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  --spacing-header-height: 4rem;
}

@utility rounded-button {
  border-radius: 1rem;
  @supports (corner-shape: superellipse(1.5)) {
    border-radius: 1.5rem;
    corner-shape: superellipse(1.5);
  }
}
@utility rounded-button-inner {
  border-radius: 0.875rem;
  @supports (corner-shape: superellipse(1.5)) {
    border-radius: 1.275rem;
    corner-shape: superellipse(1.5);
  }
}
@utility rounded-card {
  border-radius: 1rem;
  @supports (corner-shape: superellipse(1.5)) {
    border-radius: 1.5rem;
    corner-shape: superellipse(1.5);
  }
}
@utility rounded-card-inner {
  border-radius: 0.5rem;
  @supports (corner-shape: superellipse(1.5)) {
    border-radius: 0.875rem;
    corner-shape: superellipse(1.5);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-family-primary);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

html,
body {
  background: var(--background);
  color: var(--foreground);
}

body {
  font-family: var(--font-family-primary);
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Cursor improvements for better UX */
button:not(:disabled) {
  cursor: pointer;
}

a:not(:disabled) {
  cursor: pointer;
}

[role="button"]:not(:disabled) {
  cursor: pointer;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Range input styling */
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  border: 1px solid var(--foreground);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--background);
  cursor: pointer;
  margin-top: -5px;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--foreground);
  border-radius: 50px;
  border: 1px solid var(--background);
}
